h1 {
  text-align: center;
}

section {
  margin: 10px 10px;
  border: 2px solid #aaa;
  text-align: center;
}

figure {
  margin: 20px auto;
  inline-size: fit-content;
  border: 2px solid #aaa;
  text-align: center;
}

figure > img {
  margin: 3px;
}

div {
  box-sizing: border-box;
  border: 2px solid #000;
  display: inline-block;
}

.abstract {
  inline-size: 50%;
  background-image: url("../img/abstract.jpg");
}

p {
  inline-size: 50ch;
  padding: 2em;
  border: 3em solid rgba(255, 255, 255, 0.6);
  margin: 2em auto;
  background-clip: padding-box;
  background-color: white;
}

.spelTable {
  inline-size: 50%;
  float: right;
}

table {
  inline-size: 100%;
  font-size: 1.1em;
}

th {
  font-size: 1.3em;
  background-color: #aaaaaa;
}

.spelNaam {
  text-align: left;
  background-color: #aabbcc;
}

.spelLeeftijd {
  background-color: #ccaabb;
}

.spelSpelers {
  background-color: #bbccaa;
}

.schaakbord {
  inline-size: auto;
  font-size: 1.1em;
  color: white;
  background-color: #999;
  border: 1px solid #ff0000;
}

.darker {
  background-color: #666;
}

.tweede table {
  color: #000;
  margin: auto;
}
.tweede td {
  font-size: 2em;
  inline-size: 80px;
  block-size: 80px;
}

.whitepieces {
  color: #fff;
}

.schaakrand {
  border: 30px solid #222;
  padding: 20px;
}
